datasets==1.16.1
pt_core_news_sm @ https://github.com/explosion/spacy-models/releases/download/pt_core_news_sm-2.3.0/pt_core_news_sm-2.3.0.tar.gz
numpy==1.22.0
sentencepiece==0.1.96
spacy==2.3.1
tokenizers==0.10.3
torch==1.7.1
transformers==4.12.5